/*固定定位position:fixed;一旦设置了该属性，那么该元素就会脱离文档流，进行固定定位。*/
#open_Login {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	padding-top: 10%;
	z-index: 1001;
	left: 0px;
	top: 0px;
}

#gototop a {
	display: block;
	width: 40px;
	height: 40px;
	background: #CCC;
	text-align: center;
	color: #FFF;
	position: fixed;
	right: 0;
	bottom: 100px;
}

.body {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: white;
	background: url('../image/head_bg.png');
}

.topbar_1 {
	width: 100%;
	height: 70px;
	padding: 0;
	margin: 0;
}

.topbar_1_1 {
	width: 25%;
	height: 82%;
	margin-top:-20px;
	margin-left: 0px;
	float: left;
	background: url('../image/bg_1.jpg');
	
}


.topbar_1_2 {
	float: left;
	width: 540px;
	height: 100%;
}

.topbar_1_2 li a{
	height: 63px;
	width:170px;
	line-height: 50px;
	text-align: center;
	font-size: 17px;
	margin-left: 0px;
	
}
.tab-content{
	width:100%;
	height:37px;
	
}
.tab-pane{
	width:100%;
	height:37px;
	margin-top:0px;
	float:left;
}
.ul2{
	margin: 0;
	padding: 0;
	width: 100%;
	float:left;
	
}
.ul2 li{
	list-style: none;
	float: left;
	margin-left:80px;
	margin-top: -5px;
}
a:hover{
	text-decoration: none;
}
.tab-pane li a{
	width:90px;
	height:20px;
	text-align: center;
	font-size: 14px;
	
}
.topbar_1_3 {
	float: left;
	width: 470px;
	height: 100%;
}

}
.ul_1 {
	list-style: none;
	height: 100%;
	margin: 0;
}

.ul_1 li {
	display: block;
	height: 75px;
	list-style: none;
	float: left;
	line-height: 75px;
	width: 120px;
	text-align: center;
	color: black;
}

.ul_1 li:hover {
	background: url('../image/bg_move.jpg');
	cursor: pointer;
}

.ul_1 li:active {
	background: url('../image/bg_click.jpg');
	cursor: pointer;
}

.header {
	display: none;
}

.search {
	display:block;
	float:left;
	margin-top: 30px;
	margin-left:120px;
	width:200px;
	border-radius:5px;
}

.search1 {
	display:block;
	float:left;
	margin-top: 26px;
	margin-left:0px;
	background-color: #F8E6E1;
}

.reg {
	font-size: 0.5em;
	margin-top: 30px;
	float: left;
}

.topbar_1_3 a {
	text-decoration: none;
	width: 100px;
	height: 5px;
	font-size: 1em;
	color: white;
	text-align: center;
	line-height: 30px;
	margin-left: 20px;
}


.topbar_2 {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	border: 1px solid black;
	background-color: red;
}

.ul_2 {
	list-style: none;
	height: 100%;
	margin-left: 325px;
}

.ul_2 li {
	display: block;
	list-style: none;
	float: left;
	height: 30px;
	line-height: 30px;
	width: 110px;
	text-align: center;
	color: white;
}
.div_search{
	height:100%;
	float: left;
}
.div_login{
	height:100%;
	float: left;
	margin-right: 80px;
	font-size: 5px;
}
.div_login{
	margin-top:45px;
	margin-left:10px;
	text-align:center;
	line-height:10px;
}
.div_login a{
	width: 80px;
	text-align:center;
	line-height:10px;
	color: black;
	font-size: 5px;
	margin-left:20px;
	margin-top:0px;
	
}

.div_login li{
	display: block;
	height: 25px;
	list-style: none;
	float: left;
	line-height: 25px;
	text-align: center;
	color: black;
	margin-left:10px;
}

.div5{
	width:100%;
	height:450px;
	background-color:white;
	margin-top:0px;
	margin-left: 20px;
}
.div5 img{
	display:block;
	float:left;
	width:100%;
	height:450px;
    margin-left:-40px;
	margin-right:auto;
	margin-top:0px;
}


.right{
	margin-right:40px;
}
.font{
	display: block;
	line-height: 400px;
}

