.body{
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:100px;
	background-color:white ;
	
	
}

.topbar_1{
	position: relative;
	top:0;
	left:0;
	width:100%;
	height:70px;
	background: url('../image/navigation.png');
}
.ul_1 li{
	display: inline;
}
.ul_1 a:hover{
	background: url('../image/bg_move.jpg');
}
.topbar_1_1{
	width:25%;
	height:100%;
	margin-left: 0px;
	float:left;
}
.topbar_1_1 img{
	height: 70px;
	padding-left: 150px;
}
.topbar_1_2{
	float:left;
	width:30%;
	height:100%;
}
.topbar_1_3{
	float:right;
	width:45%;
	height:100%;
}
.ul_1{
	list-style: none;
	height:100%;
	margin-left: 0px;
}
.ul_1 li{
	display:block;
	list-style: none;
	float:left;
	width:100px;
	text-align:center;
	height:70px;
	line-height:70px;
	color: white;
	
}
.ul_1 li:hover{
	cursor: pointer;
	background: url('../image/bg_move.jpg');
}
.ul_1 li:active{
	cursor: pointer;
	background: url('../image/bg_click.jpg');
}
.ul_1 li:visited{
	cursor: pointer;
	background: url('../image/bg_click.jpg');
}
.search{
	display:block;
	border:0;
	border-radius:5px;
	background-color:#CCC;
	width:250px;
	height: 30px;
	float: left;
	font-size: 1em;
    margin-top: 20px;
    margin-left: 40px;
}
.reg{
	font-size: 1em;
	margin-top: 30px;
}
.topbar_1_3 a{
	text-decoration:none;
    width: 100px;
    height: 5px;
    font-size:1em;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-left: 20px;
}
.topbar_2{
	width:100%;
	background-color: red;
	height: 30px;
}
.header{
	display: none;
}
.ul_2{
	display:block;
	list-style: none;
	height:100%;
	padding: 0;
	margin: 0;
	margin-left: 200px;
	
}
.ul_2 li{
	display:block;
	padding: 0;
	list-style: none;
	float:left;
	height:100%;
	line-height:30px;
	margin-left: 90px;
	color: white;
}