@CHARSET "UTF-8";



.Mymusic {
	width: 70%;
	height:300px;
	text-align: center;
	margin: 0 auto;
}

.left {
	float: left;
	width: 25%;
	height: 600px;
	background-color: #FFF3F0;
}

.left_1 {
	float: left;
	width: 100%;
	height: 50px;
	margin-left: 0px;
}

.left_1_1 {
	width: 60%;
	height: 50px;
	float: left;
}

.left_1_1 a {
	text-decoration: none;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	color: black;
	margin-left: -20px;
	margin-top: 90px;
}

.left_1_2 {
	width: 40%;
	height: 50px;
	float: right;
}
.left_1_2 a{
	text-decoration:none;
	font-size:10px;
}
.left_1_2_btn {
	width: 40px;
	height: 20px;
	text-decoration: none;
	text-align: center;
	display: block;
	margin-top: 56px;
	margin-left:20px;
}

.left_2 {
	width: 100%;
	height: 100%;
	margin-top: 100px;
	float: left;
	margin-left:10px;
}
.left_2 li{
	list-style:none;
	font-size:20px;
	float: none;
}
.mymusiclistli{
	width:150px;
	height:20px;
	float:left;
	text-align: left;
}
.right {
	width: 74%;
	height: 200px;
	margin-left: 0px;
	background-color: #FDF8F7;
	border: 1px solid #FBEEEB;
	float:left;
	margin-left: 0px;
}

.right_1 {
	float: left;
	width: 100%;
	height: 70%;
}

.right_1_1 {
	width: 30%;
	height: 100%;
	float: left;
}

.right_1_1 img {
	width: 120px;
	height: 120px;
	margin-top: 10px;
	margin-left: 10px;
}

.right_1_2 {
	width: 70%;
	height: 100%;
	float: left;
}

.chevron {
	margin-left: -10px;
	margin-top: 10px;
}

.right_1_2 img {
	width: 30px;
	height: 30px;
	margin-left: -520px;
	margin-top: 50px;
}

.right_1_2 a {
	text-decoration: none;
	display: block;
	font-size: 1em;
	color: black;
	margin-left: -300px;
	margin-top: -25px;
	color: green;
}

.right_1_2_btn {
	text-decoration: none;
	display: block;
	font-size: 0.2em;
	background-color: #FBEEEB;
	border-color: #FCE0D8;
	margin-left: 25px;
	margin-top: 25px;
	float: left;
}

.right_2 {
	float: left;
	width: 100%;
	height: 30%;
}

.right_3 {
	width: 100%;
	height: 2px;
	margin-top: 200px;
	background-color: red;
}

.right_4 {
	width: 100%;
	height: 600px;
	margin-top: 0px;
	background-color: #FDF8F7;
	border: 1px solid #FBEEEB;
	
}
#open_updateSongList{
	display:none;
}
